* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black
}

body {
    font-family: Arial, sans-serif;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.weather-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.weather-icon img {
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    background-color: black;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4698d3;
}
